*{
font-size: 20px;
background-image: "../src/componentes/fondo mundial4.jpg";
}
.form{
    background-image: "../src/componentes/fondo mundial4.jpg";
}

.nombre{
background-image: "../src/componentes/fondo mundial4.jpg";

}
